.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #e0f7fa;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
}

.home-content h1{
    font-family: 'inter', sans-serif;
    text-align: center;
    color: rgb(0,119,181);
    margin-right: 20px;
}

.top-text{
    display: block;
    font-size: 1em;
    padding-bottom: 10px;
    padding-right: 50px;
}

.bottom-text{
    display: block;
    font-size: 0.50em;
    padding-right: 50px;
}

.home-content img {
    max-width:25%;
    height: auto;
    border-radius: 500px;
    border: 2px solid white;;
}